$white: #fff;
$darkblue: #3c4761;
$closeblack: #27283d;
$blue: #30bae7;
$lightblack:#393939;
$gold:#ffdd99;
$anotherwhite:#f7f3ea;
$purple:#87509c;
$darkpurple:#643a79;
$orange:#eb7d4b;
$lightgreen:#17c2a4;
$lightgrey:#e7f1f8;
$icon:#bdd1df;
$pink:#d74680;
$formblue:#3c5499;
$inputbackground: #273a71;
$footer:#344b8e;


